.send-wish-wrapper {
    width: 100%;
    height: 100%;
    display: none;
    padding: 0 0 0 4%;
    justify-content: start;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.send-wish-container {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.send-wish-h1 {
    color: #EEE1D3;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding: 0;
    margin: 0;
}

.send-wish-p {
    color: #EEE1D3;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 1.2vw 0 0 0;
}

.mail {
    padding: 1vw 1.5vw;
    align-items: center;
    border-radius: 0.25rem;
    border: 1px solid #8A7452;
    background: transparent;
    flex: 1 0 0;
    color: #D8C5B1;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 2vw 0 0 0;
    transition: .3s;
    /* height: 3.187rem; */
}

.wish-text {
    display: flex;
    padding: 1vw 1.5vw;
    align-items: flex-start;
    border-radius: 0.25rem;
    border: 1px solid #8A7452;
    background: transparent;
    color: #D8C5B1;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    resize: none;
    height: 5vw;
    margin-top: 1rem;
    transition: .3s;
}


.input-err {
    border-radius: 0.25rem;
    border: 1px solid #CC1919;
}

.wish-text:hover, .mail:hover {
    border-radius: 0.25rem;
    border: 1px solid #EEE1D3;
}

.mail::placeholder, .wish-text::placeholder {
    color: #8A7452;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    transition: .35s;
}

.mail:hover::placeholder, .wish-text:hover::placeholder {
    color: #EEE1D3;
}

.confirm-wish:enabled, .confirm-wish:disabled {
    border: none;
    display: flex;
    padding: 1vw  3vw;
    justify-content: center;
    align-items: center;
    border-radius: 3.56rem;
    background: #D4AB6E;
    color: #000000;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 30%;
    margin-top: 2vw;
    transition: .3s;
    cursor: pointer;
}

.confirm-wish:disabled {
    background: #8A7452;
}

.check-container {
    display: flex;
    align-items: baseline;
    margin-top: 1.5vw;
}

.check-rules {
    color: #8A7452;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 0 0 0 0.5vw;
}

.check-underline {
    color: #8A7452;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration-line: underline;
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 0.875vw; 
    height: 0.875vw;
    border: 1px solid #8A7452;
    border-radius: 2px;
    background-color: transparent;
    outline: none; 
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    border-color: #8A7452; 
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65vw;
    height: 0.65vw;
    transform: scale(0);
    transition: .1s transform ease-in-out;
    background-color: #8A7452;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(0.8);
}

input[type="checkbox"]:hover::before {
    transform: scale(0.8);
}


@media screen and (max-width: 1024px) {
    .send-wish-container {
        width: 42%;
    }
}

@media screen and (max-width: 768px) {
    .send-wish-container {
        width: 50%;
    }

    .send-wish-h1 {
        font-size: 3.5vw;
    }

    .send-wish-p  {
        font-size: 2vw;
    }
}

@media screen and (max-width: 430px) {
    .send-wish-wrapper {
        padding: 0 3% 0 3%;
    }

    .send-wish-container {
        margin-top: 40%;
        width: 93%;
    }

    .send-wish-h1 {
        font-size: 6.5vw;
    }
    
    .send-wish-p {
        margin: 3% 0 0 0;
        padding: 0;
        font-size: 4vw;
    }

    .check-rules, .check-underline {
        font-size: 3.2vw;
        margin: 0 0 0 2%;
    }

    input[type="checkbox"] {
        width: 3.5vw;
        height: 3.5vw;
        margin-right: 2%;
    }

    .mail, .wish-text {
        padding: 4vw 4.5vw;
        font-size: 3.2vw;
    }

    .wish-text {
        height: 10vw;
    }

    .mail::placeholder, .wish-text::placeholder {
        font-size: 3.2vw;
    }

    .confirm-wish:enabled, .confirm-wish:disabled {
        margin-top: 4%;
        padding: 4vw  5vw;
        font-size: 3.2vw;
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .send-wish-container {
        margin-top: 30%;
    }
}