@import url('./background.css');
@import url('./congrats.css');
@import url('./qr.css');
@import url('./wishOrCookie.css');
@import url('./sendWish.css');

.a-enter-vr-button {
    display: none;
}

body {
    font-family: 'Circe', sans-serif;
    width: 100%;
    height: 100%;
}