@import url('./background.css');
@import url('./congrats.css');
@import url('./qr.css');
@import url('./wishOrCookie.css');
@import url('./sendWish.css');
@import url('./success.css');
@import url('./error.css');

.a-enter-vr-button {
    display: none;
}

body {
    font-family: 'Circe', sans-serif;
    width: 100%;
    height: 100%;
}

@keyframes fadeIn {
    0% {
        scale: 0;
    }
    50% {
        scale: 1.05;
    }
    100% {
        scale: 1;
    }
}

@keyframes fadeOut {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.05;
    }
    100% {
        scale: 0;
    }
}
  
.fadeIn {
    animation: fadeIn 0.3s;
}

.fadeOut {
    animation: fadeOut 0.3s;
}