.success {
    position: absolute;
    top: 24.63rem;
    left: 4rem;
    width: 42.5rem;
    height: 16.8rem;
    z-index: 100;
    display: block;
    display: none;
    flex-direction: column;
}

.success-h1 {
    color: #EEE1D3;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
}

.success-p {
    color: #EEE1D3;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 2rem 0 0 0;
}

.again-cookie {
    display: flex;
    padding: 1rem 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 3.56rem;
    background: #D4AB6E;
    color: #000000;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 4rem;
    border: none;
    cursor: pointer;
    width: 17.75rem;
}

@media screen and (max-width: 1440px) {
    .success {
        top: 368px;
        left: 64px;
        width: 656px;
        height: 269px;
    }

    .success-h1 {
        font-size: 1.75rem;
    }
    
    .success-p {
        font-size: 1.375rem;
        margin-top: 2rem;
    }
    
    .again-cookie {
        font-size: 1.125rem;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 1024px) {
    .success {
        top: 17rem;
        left: 2rem;
        width: 30rem;
        height: 12rem;
    }

    .success-h1 {
        font-size: 1.75rem;
    }
    
    .success-p {
        font-size: 1.375rem;
        margin-top: 1.5rem;
    }
    
    .again-cookie {
        font-size: 1.125rem;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .success {
        top: 10rem;
        left: 9rem;
        width: 30rem;
        height: 12rem;
        align-items: center;
    }

    .success-h1 {
        font-size: 1.75rem;
        width: 100%;
        text-align: center;
    }
    
    .success-p {
        font-size: 1.125rem;
        margin-top: 1.5rem;
        width: 100%;
        text-align: center;
    }
    
    .again-cookie {
        font-size: 1.125rem;
        margin-top: 2rem;
        width: 15.62rem;
    }
}

@media screen and (max-width: 430px) {
    .success {
        top: 5.75rem;
        left: 1rem;
        width: 95%;
        align-items: center;
    }
}

@media screen and (max-width: 375px) {
    .success {
        top: 112px;
        left: 16px;
        width: 343px;
        height: 156px;
        align-items: center;
    }
    
    .success-p {
        font-size: 1rem;
        margin-top: 1.2rem;
        width: 95%;
        text-align: center;
    }
    
    .again-cookie {
        padding: 0.75rem 3rem;
        font-size: 1rem;
        margin-top: 1.5rem;
        width: 95%;
    }
}