.a-enter-vr-button {
    display: none;
}

.preloader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #24292E;
    z-index: 9999;
}

div.spinner {
    position: relative;
    width: 104px;
    height: 104px;
    display: inline-block;
    margin-bottom: 14px;
    border-radius: 10px;
}

div.spinner div {
    width: 10%;
    height: 26%;
    background: #84a492;
    position: absolute;
    left: 49%;
    top: 41%;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    animation: fade 1s linear infinite;
}

@keyframes fade {
    0% {background: #84a492;}
    100% {background: #DECFC6;}
}

div.spinner div.bar1 {
    transform:rotate(0deg) translate(0, -130%);
    animation-delay: 0s;
}    

div.spinner div.bar2 {
    transform:rotate(30deg) translate(0, -130%); 
    animation-delay: -0.9167s;
}

div.spinner div.bar3 {
    transform:rotate(60deg) translate(0, -130%); 
    animation-delay: -0.833s;
}
div.spinner div.bar4 {
    transform:rotate(90deg) translate(0, -130%); 
    animation-delay: -0.7497s;
}
div.spinner div.bar5 {
    transform:rotate(120deg) translate(0, -130%); 
    animation-delay: -0.667s;
}
div.spinner div.bar6 {
    transform:rotate(150deg) translate(0, -130%); 
    animation-delay: -0.5837s;
}
div.spinner div.bar7 {
    transform:rotate(180deg) translate(0, -130%); 
    animation-delay: -0.5s;
}
div.spinner div.bar8 {
    transform:rotate(210deg) translate(0, -130%); 
    animation-delay: -0.4167s;
}
div.spinner div.bar9 {
    transform:rotate(240deg) translate(0, -130%); 
    animation-delay: -0.333s;
}
div.spinner div.bar10 {
    transform:rotate(270deg) translate(0, -130%); 
    animation-delay: -0.2497s;
}
div.spinner div.bar11 {
    transform:rotate(300deg) translate(0, -130%); 
    animation-delay: -0.167s;
}
div.spinner div.bar12 {
    transform:rotate(330deg) translate(0, -130%); 
    animation-delay: -0.0833s;
}

@media (max-width: 375px) {
    div.spinner {
        width: 74px;
        height: 74px;
    }
}

.a-modal {
    position: absolute;
    background: rgba(0, 0, 0, 0.60);
    background-size: 50% 50%;
    bottom: 0;
    font-weight: 600;
    left: 0;
    line-height: 20px;
    right: 0;
    position: fixed;
    top: 0;
    z-index: 9999999;
}

.a-dialog {
    border-radius: 17px;
    background-color: #F6E5DA;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 199995;
    width: 259px;
    height: 161px;
    background-size: contain;
    padding: 6px;
}

.a-dialog-text-container {
    width: 100%;
    height: 65%;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.a-dialog-text {
    text-align: center;
    font-family: 'Circe', sans-serif;
    font-size: 15px;
    display: inline-block;
    font-weight: normal;
    margin: 8px;
}

.a-dialog-buttons-container {
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: space-evenly;
}

.a-dialog-allow-button {
    background-color: #CBB199;
}

.a-dialog-deny-button {
    background-color: #DECFC6;
}

.a-dialog-button {
    font-family: 'Circe', sans-serif;
    color: #000000;
    border-radius: 5px;
    font-weight: normal;
    padding: 20px 20px;
    width: 115px;
    height: 27px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    align-self: center;
    opacity: 0.9;
    margin: 4px;
    text-align: center;
    border: none;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.21), 0 2px 2px rgba(0, 0, 0, 0.21);
}