.a-enter-vr-button {
    display: none;
}

body {
    overflow: hidden;
    font-family: 'Circe', sans-serif;
}

/* scene background */
.background {
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #242A2E, #181A1D);
    position: relative;
}

.background-img {
    margin-top: 67px;
}

/* preloader */
.preloader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #24292E; */
    background: radial-gradient(circle, #242A2E, #181A1D);
    z-index: 9999;
}

.loader {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: conic-gradient(#4B4B4B, #D4AB6E);
    animation: rotate 3.14s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-text {
    color: #EEE1D3;
    font-size: 22px;
    text-align: center;
}


.a-modal {
    position: absolute;
    background: rgba(0, 0, 0, 0.60);
    background-size: 50% 50%;
    bottom: 0;
    font-weight: 600;
    left: 0;
    line-height: 20px;
    right: 0;
    position: fixed;
    top: 0;
    z-index: 9999999;
}

.a-dialog {
    border-radius: 17px;
    background-color: #F6E5DA;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 199995;
    width: 259px;
    height: 161px;
    background-size: contain;
    padding: 6px;
}

.a-dialog-text-container {
    width: 100%;
    height: 65%;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.a-dialog-text {
    text-align: center;
    font-family: 'Circe', sans-serif;
    font-size: 15px;
    display: inline-block;
    font-weight: normal;
    margin: 8px;
}

.a-dialog-buttons-container {
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: space-evenly;
}

.a-dialog-allow-button {
    background-color: #CBB199;
}

.a-dialog-deny-button {
    background-color: #DECFC6;
}

.a-dialog-button {
    font-family: 'Circe', sans-serif;
    color: #000000;
    border-radius: 5px;
    font-weight: normal;
    padding: 20px 20px;
    width: 115px;
    height: 27px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    align-self: center;
    opacity: 0.9;
    margin: 4px;
    text-align: center;
    border: none;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.21), 0 2px 2px rgba(0, 0, 0, 0.21);
}